.list-doctor-container {
    padding   : 30px 150px;
    background: #eee;

    .title-doctor {
        line-height  : 50px;
        font-size    : 20px;
        text-overflow: ellipsis;
        white-space  : nowrap;
        overflow     : hidden;
        padding-right: 15 px;
        display      : block;

        a {
            font-size     : 18px;
            font-weight   : 600;
            text-transform: uppercase;
        }



    }

    .search-doctor {
        width        : fit-content;
        background   : #fff;
        border-radius: 5px;
        border       : 1px solid #ddd;

        i {
            color       : #666;
            padding-left: 2px;
        }

        input {
            padding   : 0 8px;
            background: transparent;
            border    : none;
            outline   : none;
        }
    }

    .all-doctor {

        ul {
            display             : block;
            list-style-type     : disc;
            margin-block-start  : 1em;
            margin-block-end    : 1em;
            margin-inline-start : 0px;
            margin-inline-end   : 0px;
            padding-inline-start: 40px;

            background-color: #fff;
            box-shadow      : 0 1px 6px #20212447;
            border-radius   : 10 px;
        }

        ul li {
            display      : flex;
            overflow     : hidden;
            padding      : 15 px;
            border-bottom: 1 px solid #eee;
            position     : relative;
        }

        h3 {
            padding-left: 20px;
            display     : block;
            line-height : 1.3em;
            font-size   : 14px;
            color       : #333;
            cursor      : pointer;

            &:hover {
                color: #00bcd4;
            }
        }

        .specialty {
            color      : #666;
            font-size  : 13px;
            margin-left: 20px;
        }

        .bg-image {
            width              : 100px;
            height             : 100px;
            border-radius      : 50%;
            background-position: center center;
            background-repeat  : no-repeat;
            background-size    : cover;
            background-color   : #eee;
            cursor             : pointer;
        }

    }
}