.container {

    .support-body {

        margin-top   : 50px;
        margin-bottom: 50px;

        .info {
            li {
                font-size: 15px;
            }

            .sp {
                margin-left: -17px;
            }
        }

        .map {
            width : 400px;
            height: 300px;
            border: none;
        }

    }
}