.container {

    .support-body {

        margin-top   : 50px;
        margin-bottom: 80px;

        .info {
            li {
                font-size: 15px;
            }

            .sp {
                margin-left: -17px;
            }
        }

        .gg-map {
            margin-top: -290px;

            .map {
                width : 400px;
                height: 300px;
                border: none;
            }
        }


    }
}